@use "material-components-web/material-components-web";

@import "components";

div#app {
    @apply h-full max-h-full w-full;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    
    &-track {
        background: #eee;
    }

    &-thumb {
        @apply rounded;
        background: #999;
        &:hover {
            background: #bbb;
        }
    }
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @import "style";