body {
  background: url("/img/1644.jpg");
  background-size: cover;
}

.landing-page {
  height: 100vh;
}
.landing-page__grid {
  height: 100%;
}
.landing-page__form {
  height: 100%;
  padding: 4rem;
}
.landing-page__form-card {
  height: 100%;
  padding: 3rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: stretch;
}
.landing-page__form-header {
  justify-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.landing-page__form-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.landing-page__brand {
  height: 100px;
}